<html>

<head>
  <title>BILL</title>
</head>


<body>
  <p>Name: <%= user.fname+" "+user.lname%><br>Address: <%= user.address%><br>Book: <%= user.book%><br>Cost: Rs.<%= user.cost%></p>
</body>

</html>
